
.temp-main {
    display: flex;
    min-height: 100vh;
    height: 100%;
    font-family: 'Karla', sans-serif;
    position: relative;

    @media(max-width: 991px){
        flex-direction: column;
    }

    & > * {
        flex-basis: 50%;
    }
}

.temp-overlay {
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 50%;
    background: white;
    z-index: 100;
}

.temp-left-panel {
    padding: 10px 40px;

    @media(max-width: 500px){
        padding: 10px 20px;
    }
}

.temp-right-panel {
    background-image: url('../../assets/image/plant6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: background-image .8s ease;
}

.temp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 767px){
        justify-content: center;
    }

    svg {
        width: 180px;
        height: 93px;
    }

    &__nav {
        &-item {
            font-family: 'Teko', sans-serif;
            font-size: 2rem;
            transition: all .3s ease;
            
            @media(max-width: 767px){
                font-size: 1.7rem;
            }

            &:hover, &:focus {
                a {
                    border-bottom: 2px solid $green;
                    margin-top: -2px
                }
            }
        }
    }
}

.temp-body {
    margin-top: 6rem;

    @media(max-width: 991px){
        max-width: 80%;
        margin: 6rem auto 6rem auto;
    }

    @media(max-width: 767px){
        max-width: 90%;
        margin: 5rem 0;
    }

    @media(max-width: 600px){
        max-width: 100%;
    }

    &__heading {
        text-transform: capitalize;
        font-stretch: normal;
        font-family: 'Karla', sans-serif;
        color: $black;
        letter-spacing: -0.5px;
        font-size: 5rem;
        font-weight: 300;
        // border-bottom: 15px solid $green;
        width: fit-content;
        position: relative;
        z-index: 2;

        @media(max-width: 767px){
            font-size: 4rem;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 0;
            width: 0%;
            height: 15px;
            background: #badb26;
            z-index: -1;
            display: block;
        }
        
    }

    &__description {
        margin-top: 5rem;
        max-width: 95%;
        p {
            font-size: 2.5rem;
            margin: 5rem 0;

            @media(max-width: 767px){
                font-size: 2rem;
                margin: 3rem 0;
            }
        }

        @media(max-width: 991px){
            max-width: 100%;
        }
    }

    &__subheading {
        color: $black;
        letter-spacing: -0.5px;
        font-weight: 400;
        font-size: 3.5rem;
        margin-bottom: 3rem;

        @media(max-width: 767px){
            font-size: 3rem;
        }
    }

    &__form {
        margin-top: 5rem;

        @media(max-width: 767px){
            margin-top: 4rem;
        }

        @media(max-width: 600px){
            justify-content: flex-start;
        }

        @media(max-width: 460px){
            flex-direction: column;
            align-items: stretch;       
        }

        .form__input {
            @media(max-width: 600px){
                max-width: 300px;
                flex: 1 0 auto;
            }

            @media(max-width: 460px){
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 2rem;
            }


        }
    }
}


.addBorderBottom {
    &:after {
        content: '';
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 0%;
        height: 15px;
        background: #badb26;
        z-index: -1;
        display: block;
    }
}