
@import url('https://fonts.googleapis.com/css?family=Khula|Lato|Quicksand|Nunito|Josefin+Sans|Hind:300');

.jumbotron {
  background-image: url('https://wallpapercave.com/wp/wtXVvy2.jpg');
  background-position: bottom;
  hr {
    background-color: white;
    max-width: 10%;
  }
}
