
@import url('https://fonts.googleapis.com/css?family=Khula|Lato|Quicksand|Nunito|Josefin+Sans|Hind:300');

.jumbotron {
  background-image: url('https://lh3.googleusercontent.com/duG4dcKkbalQZcpRDtirCGftoufDgdNiuZrzOvZtPyfpz0KDnH_-N66Jcg9jVGczFeRBxiKOS40Ht10kAtJ1lyKOOD8uxHbfjJtMeUXagAcoJazJn1_gK6OKZiC9TtiJqRgRtHWXKIx8m2TFqhkg3kxHKPXucOqIYoQuQI5KDypCZewPKvvoW83IRdRLOnzCmMfHR3DjyJOmrG3LtNx7n8IjuRLpUzMLElaZOqYTuZoSq0hbKEZKovSFuN2Wom0-YcmTeU9NMZviAjNRVGw3PyLqPA0m0aWOREh2kXt_YAWw7b-6emXenvuAvXXZTnCVu5piyxqtXI52RHkX77xAQUM99d9fBdSJ86vjo7JuNgqy6e4BHfjd8M7H3gYDNd-WuCD67socuMsrpJpagINVaOuypPNqzDI_WljCuaL-YyaSLG8w3btjZZoggSJFWgIe4tlmh7kK3zumds3_LT4kXBmF9nM9ZJ6QjKFf2H14zlJmem6_z1edrxFF4vaguG3i-ryvK3RIWPS1pR8HE1dtHDbcBTZwoB_qluxtr2ZRWaoK_NrvZtdbV4PJTtwOH8_SadxFIvjqEss7iiejXZTExOP4z4ZhwYwK2cFw7nO61A=w1920-h530-no');
  hr {
    background-color: white;
    max-width: 10%;
  }
}
