// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

body {
  background-color: #faf7f2;
}

// Navigation Styles

.navbar {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  .navbar-brand {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    img {
      width: 110px;
    }
  }
  .navbar-toggler {
    margin-top: 20px;
    border: none;
    outline: none;
  }
  .collapse {
    margin-left: 6px;
    form {
      display: block;
    }
    .navbar-nav {
      .nav-item {
        a.nav-link {
          color: #819142;
        }
      }
    }
  }
}

.jumbotron {
  background-image: url('https://wallpapercave.com/wp/uC3HeWt.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  color: white;
  display: flex;
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
  } 
}

.display-products {
  .card {
    border: none;
    height: 490px;
    .card-block {
      display: flex;
      flex-direction: column;
      h4, p {
        font-weight: normal;
      }
      p {
        font-size: 20px;
      }
      a {
        margin-top: auto;
      }
    }
  }
}