// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Khula|Lato|Quicksand|Nunito|Josefin+Sans|Hind:300');

* {
  box-sizing: border-box;
}

body {
  background-color: #faf7f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


%links {
  &:link, &:active, &:visited {
    text-decoration: none;
  }
}

a {
  @extend %links;
}


// Navigation Styles

ul.nav {
  background-color: #2e3032;
  font-size: 17px;
  width: 100%;
  li {
    padding-right: 15px;
    &:nth-child(2), &:last-child {
      display:none;
    }
    a {
      color: white;
      i {
        padding-right: 9px;
      }
    }
  }
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  .navbar-brand {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    img {
      width: 110px;
    }
  }
  .navbar-toggler {
    margin-top: 20px;
    border: none;
    outline: none;
  }
  .collapse {
    margin-left: 6px;
    form {
      display: block;
      margin-top: 10px;
    }
    .navbar-nav {
      .nav-item {
        a.nav-link {
          color: #819142;
          &:hover {
            color: black;
          }
        }
        .dropdown-menu {
          border-radius: 5px;
          display: none;
          a {
            font-size: 15px;
          }
        }
      }
    }
    .user {
      a {
        i {
          margin-right: 8px;
        }
      }
    }
  }
}

.jumbotron {
  background-image: url('https://wallpapercave.com/wp/uC3HeWt.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  color: white;
  display: flex;
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
  } 
}

.display-products {
  font-family: 'Lato', sans-serif;
  h2 {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 7px;
  }
  .card {
    border: none;
    height: 490px;
    .card-block {
      display: flex;
      flex-direction: column;
      h4, p {
        font-weight: normal;
      }
      p {
        font-size: 20px;
      }
      a {
        margin-top: auto;
      }
    }
  }
}

.container-fluid.advert {
  display: flex !important;
  width: 100%;
  margin-top: 60px;
  background-image: url('https://lh3.googleusercontent.com/uZQhU3snh1w5lqbiFq5-EmaPks4z1X7jiKerVrMyApivXeCsdjEiaCzbDvf90nMJR1wLieRWXwivHcQLnMdFNwRBRpSrBHQXsKQOprfX6N4jNovDWDvaduL35kLAoqEbAdtltY5U9EbkIBvRqVIoef8FmGrhgcv71IqN_EgsWNKD_jgPa4yZBO_MEQHAC4foV3o0bl2SWW1QP32DdRFe6yQR6MOhI_gqcDpAQC7UvlLNhc0-m44lEqlZCgzM3U8z-77UQmsZnHecOStksPPIpqgL2_R4atGKAiWZUP431FBopAzoWMiLz-TdzZZbAW-FGJh-gCKhvHquV9lJTRyb-FTrOuzqp_u-lc7n9Q3MT_zSI3Swvx2Jd6F8LNu3ws5qRcXk9UO28tUMOoWwkfEKoInnadzB0ljDZr60EgQmlHmPjQ1K3B1eJsO6IfrXrXbUBbpzwf5Yx_tsGuXsQBW9iExKI71dSLpGOj72iPnN1ze7AiQpoHwxIngQS89Hs8L8ogvibdJXHxjuz-1SYPPqS-OKCn6TTjEQ4T-IsGrXFQEnKmSu6U950gvqpjPTqiQ3BrA9hEq7Dp48jMtrrAF3yvzepCWg5GPbZbIyxa0luA=w1519-h949-no');
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
  }
  p {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    i {
      font-weight: bolder;
    }
  }
}

.container-fluid.promo {
  margin-top: 100px;
  height: 100%;
  width: 100%;
  .external {
    background-color: white;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
    img {
      width: 190px;
      margin-bottom: 50px;
    }
    &:nth-child(2) {
      float: right;
      background-image: url('https://lh3.googleusercontent.com/7lwmRNsHU4PJ6D7rb-htuVs4Q_E7ijaC-Tv0Pk_uorSiXLNFFLzYrkW6NcOcZ2t69syo51IB3-orp4O0hGJJTZXIdk0xvifIHTpEfLuIhl9Wfg_9G4CPHun5iAbWvl-r6TwD9nJ28cwvAjqJt8wxT1KCKEGfOzexqLcsJqrMldA0rWlB-pooiyQnoPknq7snim8QlTT_XeOmfViiwtOEL6osdwv059TZJLVqnN44YNDLDhEedwG-D2ghd2oybZygL7Mss-jEXlTFiJGDGQDLpkafCVlVY1UandZJsxo1cSkycp_RyaUSiN6tC2i3FaKBKieRwD0kxII0wIuMZ-uH9bS9lMKDmQ4q1sOZNZ2CEIVdOH6Ga4zgJ4wOXpY8_pEhBcE8SsoU55XGw0dlxr1w0zSAjsgqUg-mtKsZ3FWHRQYhWL_fBnSEdHF25HQLdr3C4Gq4148Evw0IWqt9AwnkZ040z7u4y4TuwXRNj_E39aYTUdQZL8PFqZiwFLtwOQs1XxSwi5Z4xPtxzj9l1ddUdalpmN05qraay4BySUEbG3gO7yDXF3tRN-gyauvitQq1HwwXm1AY_tAMbiQpVNnvbs2AQvoVbdBTS_KkokaWIw=w1640-h922-no');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 400px; 
      margin-top: 30px;
      h2 { 
          background-color:#fff;
          overflow:hidden;
          display:inline-block; 
          text-align: center;
          font-weight:bold;
          font-family:arial;
          color:transparent;
          width: 90%;
          height: 400px;
          padding-top: 130px;

      }
      span { 
          background: url('https://lh3.googleusercontent.com/7lwmRNsHU4PJ6D7rb-htuVs4Q_E7ijaC-Tv0Pk_uorSiXLNFFLzYrkW6NcOcZ2t69syo51IB3-orp4O0hGJJTZXIdk0xvifIHTpEfLuIhl9Wfg_9G4CPHun5iAbWvl-r6TwD9nJ28cwvAjqJt8wxT1KCKEGfOzexqLcsJqrMldA0rWlB-pooiyQnoPknq7snim8QlTT_XeOmfViiwtOEL6osdwv059TZJLVqnN44YNDLDhEedwG-D2ghd2oybZygL7Mss-jEXlTFiJGDGQDLpkafCVlVY1UandZJsxo1cSkycp_RyaUSiN6tC2i3FaKBKieRwD0kxII0wIuMZ-uH9bS9lMKDmQ4q1sOZNZ2CEIVdOH6Ga4zgJ4wOXpY8_pEhBcE8SsoU55XGw0dlxr1w0zSAjsgqUg-mtKsZ3FWHRQYhWL_fBnSEdHF25HQLdr3C4Gq4148Evw0IWqt9AwnkZ040z7u4y4TuwXRNj_E39aYTUdQZL8PFqZiwFLtwOQs1XxSwi5Z4xPtxzj9l1ddUdalpmN05qraay4BySUEbG3gO7yDXF3tRN-gyauvitQq1HwwXm1AY_tAMbiQpVNnvbs2AQvoVbdBTS_KkokaWIw=w1640-h922-no') -20px -20px repeat;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          display:block;
      }
    }
    .card {
       display: flex;
       border: none;
    }
  }
}

.footer {
  margin-top: 100px;
  min-height: 400px;
  background-color: #221d1c;
  width: 100%;
  .container-fluid {
    width: 90%;
    position: relative;
    top: 50px;
    text-align: left;
    h3 {
      color: #a09485;
      font-family: 'Hind', sans-serif;
      font-size: 20px;
    }
    ul {
      color: #cdc5bb;
      text-align: left;
      padding: 0;
      li {
        display: block;
        a {
          @extend %links;
          &:link, &:active, &:visited {
            color: #cdc5bb;
          }
        }
      }
    }

    .row {
      &:nth-child(2){
        margin-top: 50px;
      }
    }
    .social {
      ul {
        li {
          display: inline;
          padding-right: 30px;
          font-size: 20px;
        }
      }
    }
  }
}


@media (max-width: 575px) {
  .jumbotron {
    h1 {
      font-size: 22px;
    } 
    p, button {
      font-size: 15px;
    }
  }
  .display-products {
    width: 90%;
    .card-deck {
      .col-sm-6 {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 642px){
  ul.nav {
      li {
        &:nth-child(2), &:last-child {
          display: none;
        }
      }
  }
}

@media (max-width: 306px) {
  .display-products {
    h2 {
      font-size: 16px;
    }
  }
  ul.nav {
    font-size: 13px;
  }
}

@media (min-width: 643px){
    .user {
      display: none;
    }
    ul.nav {
      li {
        &:nth-child(2), &:last-child {
          display: inline;
          text-transform: uppercase;
        }
      }
  }
}

@media (min-width: 576px) {
  .jumbotron {
    height: 280px;
  }
  .display-products {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container-fluid.promo {
      .external {
      &:nth-child(2) {
        h2 {
          font-size: 70px;
          width: 70%;
          padding-top: 100px;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .social {
    margin-top: 20px;
  }
}

@media (min-width: 1671px){
    .container-fluid.promo {
      .external {
        &:nth-child(2) {
          h2 {
            font-size: 80px;
            width: 60%;
          }
        }
    }
  }
}


@media (min-width: 991px) {
  .navbar-brand {
    float: left;
    display: inline-block;
    text-align: left;
  }
  .navbar-toggleable-md {
    .navbar-collapse {
      margin-left: 70px;
      form {
        display: inline-block;
      }
      .nav-item {
        padding-right: 35px;
      }
    }
  }
  .jumbotron {
    height: 72vh;
    background-attachment: fixed;
    .container {
      h1 {
        font-size: 50px;
      }
    }
  }

  %content-size {
    width: 90%;
    max-width: 1300px;
  }

  .display-products {
    @extend %content-size;
    h2 {
      font-size: 30px;
    }
  }
  .container-fluid.advert {
    h2 {
      font-size: 50px;
    }
  }
  .container-fluid.promo {
    @extend %content-size;
  }
}

@media (min-width: 991px) and (max-width: 1088px) {
  form {
    input {
      max-width: 130px;
    }
    .btn {
      max-width: 70px; 
      font-size: 17px;
      padding: 7px;
    }
  }
}


