* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Bau-Super', sans-serif;
  background-color: $tempLandingBg;
  color: $black
}

h1, .h1 {
  font-size: 6rem;
  line-height: 0.93;
  letter-spacing: -.4px;
}

h2, .h2 {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Bau-Super', sans-serif;
}

h3, .h3 {
  font-size: 2.2rem;
  line-height: -0.1px;
}

h4, .h4 {
  font-size: 2.4rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}


ul {
  list-style: none;
  
  li {
    font-family: 'GT America',sans-serif;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-decoration: none;
    text-transform: uppercase;
  }
}


.fill-green {
  color: rgb(186, 219, 38);

  &--question-mark {
    position: relative;
    color: $black;

    &::before {
      content: ".";
      position: absolute;
      color: #badb26;
      height: 2px;
      bottom: auto;
      /* width: 3px; */
      margin-left: 6px;
    }    
  }
}

.btn {
    
    font-family: Bau-Super,sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 11px;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 150px;

    @media(max-width: 600px){
      padding: 13px 25px;
    }

    &--white {
      border: 1px solid #000;
      color: $black;

      &:hover {
        color: white;
        background: $green;
        border-color: $green;
      }
    }
}


.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;

  &__input {
    border: none;
    background: transparent;
    border-bottom: 2px solid $black;
    flex: 2 0 auto;
    margin-right: 2rem;
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    line-height: 24px;
    font-family: Bau-Super, sans-serif;
    padding-bottom: 4px;
    outline: none;
    
    ::placeholder {
      color: #000;
    }
  }
}