@font-face {
    font-family: 'Bau-Super';
    src: url('../../assets/fonts/bau-super.ttf') format('truetype');
    font-weight: 400;    
        
}

@font-face {
    font-family: 'GT America';
    src: url('../../assets/fonts/GT-America-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'GT America';
    src: url('../../assets/fonts/GT-America-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Fulbo Champagne';
    src: url('../../assets/fonts/fulbo-champagne.otf') format('opentype');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');